html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Source Sans 3", serif;
}

.ss-normal {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ss-bold {
    font-family: "Source Sans 3", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.text-normal {
    font-size: 0.8125rem;
    line-height: 16px;
}

.text-small {
    font-size: 0.75rem;
    line-height: 15px;
}

.m-0 {
    margin: 0;
}

.bg-dark {
    background-color: #000;
}

.fc-white {
    color: #fff
}

.app {
    width: 375px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;

    padding: 16px;

    border-bottom: 1px solid #d4d4d4;
}

.user-info {
    display: flex;
    align-items: center;

    gap: 8px;
    margin: 10px 17px 10px 10px;
}

.user-fullname {
    margin: 0;
}

.user-location {
    margin: 0;
}

img {
    width: 100%;
}

.logo {
    width: 126px;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.post-image {
    width: 375px;
    height: 375px;
}

.post-body {
    display: flex;
    flex-direction: column;

    gap: 12px;
    padding: 21px 19px 16px 13px;
}

.icons-container {
    display: flex;
    gap: 20px;

    max-height: 24px;
}

.like-icon,
.comment-icon,
.share-icon {
    width: 24px;
    height: auto;
}

.hover-opacity:hover {
    opacity: 0.75;
}